.idea/
IceWechat.iml
target/
src/test
out
/web/WEB-INF/adminlte/
/web/WEB-INF/bootstrap/
/web/WEB-INF/plugins/flot/
/web/WEB-INF/plugins/chartjs/
/web/WEB-INF/plugins/jQueryUI/
/web/WEB-INF/plugins/colorpicker/
/web/WEB-INF/plugins/bootstrap-slider/
/web/WEB-INF/plugins/datatables/
/web/WEB-INF/plugins/select2/
/web/WEB-INF/plugins/morris/
/web/WEB-INF/plugins/bootstrap-wysihtml5/
/web/WEB-INF/plugins/fullcalendar/
/web/WEB-INF/plugins/fastclick/
/web/WEB-INF/plugins/ionslider/
/web/WEB-INF/plugins/sparkline/
/web/WEB-INF/plugins/jvectormap/
/web/WEB-INF/plugins/knob/
/web/WEB-INF/plugins/slimScroll/
/web/WEB-INF/plugins/pace/
/web/WEB-INF/plugins/daterangepicker/
/web/WEB-INF/plugins/timepicker/
/web/WEB-INF/plugins/iCheck/
/web/WEB-INF/plugins/jQuery/
/web/WEB-INF/plugins/ckeditor/
/web/WEB-INF/plugins/datepicker/
/web/WEB-INF/plugins/input-mask/
